<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataConnection" connectionString="Server=.;Database=MerchantsJoin;UID=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="sleepValue" value="25" />
    <!--<add key="emailHost" value="" />
    <add key="emailPort" value="25" />
    <add key="emailAccount" value="" />
    <add key="emailPassword" value="" />
    <add key="emailDisplayName" value="Fintech Alert" />
    <add key="hub" value="http://localhost:60001/"/>
    <add key="hubToken" value="7676B334FFB34354953FC04D691A60C3"/>-->
  </appSettings>
</configuration>
